# dependencies
node_modules
.pnpm-store

# builds
dist
.next
.turbo
out

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# test
coverage
